{% extends "index.html" %}

{% block content %}
<style>
.mycard{
    margin:20px;
}
.badge-outline-primary {
     color: #405189;
     border: 1px solid #405189
 }
 .badge-outline-info {
     color: #3da5f4;
     border: 1px solid #3da5f4
 }

 .badge-outline-danger {
     color: #f1536e;
     border: 1px solid #f1536e
 }

 .badge-outline-success {
     color: #00c689;
     border: 1px solid #00c689
 }

 .badge-outline-warning {
     color: #fda006;
     border: 1px solid #fda006
 }
 .mt-7 {
margin-top: 1rem !important;
}
</style>
<body>
    <div class="main-content">
      <div class="container mt-7">
        <h2 class="mb-5">Carers with Our Practice</h2>


<div class="media mycard">
    <a href="#" class="pull-left"><img src="http://designbootstrap.com/livedemos/2015/03/05/twitter-feed/assets/img/2.png" alt="" class="img-circle"></a>
    <div class="media-body">
        <span class="text-muted pull-right"></span> <strong class="text-success">Brad Pitt</strong> - Registered Nurse
        <div>
        <span class="text-muted badge badge-outline-primary">Diabetic Foot Assessment</span> 
        <span class="text-muted badge badge-outline-info">Phlebotomy</span>
        <span class="text-muted badge badge-outline-warning">Vital Obs</span>
        <span class="text-muted badge badge-outline-success">Ulcer Repacking</span>
    </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, <a href="#"># consectetur adipiscing</a> .</p>
        
    </div>
    <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success">Info</button>
        <button type="button" class="btn btn-primary">History</button>
        <button type="button" class="btn btn-outline-secondary">Message</button>
    </div>
    
</div>
<div class="media mycard">
    <a href="#" class="pull-left"><img src="http://designbootstrap.com/livedemos/2015/03/05/twitter-feed/assets/img/2.png" alt="" class="img-circle"></a>
    <div class="media-body">
        <span class="text-muted pull-right"></span> <strong class="text-success">Bradley Cooper</strong> - Health Care Assistant
        <div>
            <span class="text-muted badge badge-outline-info">Phlebotomy</span>
            <span class="text-muted badge badge-outline-warning">Vital Obs</span>
    </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, <a href="#"># consectetur adipiscing</a> .</p>
        
    </div>
    <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success">Info</button>
        <button type="button" class="btn btn-primary">History</button>
        <button type="button" class="btn btn-outline-secondary">Message</button>
    </div>
    
</div>
<div class="media mycard">
    <a href="#" class="pull-left"><img src="http://designbootstrap.com/livedemos/2015/03/05/twitter-feed/assets/img/2.png" alt="" class="img-circle"></a>
    <div class="media-body">
        <span class="text-muted pull-right"></span> <strong class="text-success">James McAvoy</strong> - Medical Student
        <div>
            <span class="text-muted badge badge-outline-info">Phlebotomy</span>
            <span class="text-muted badge badge-outline-warning">Vital Obs</span>
    </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, <a href="#"># consectetur adipiscing</a> .</p>
        
    </div>
    <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success">Info</button>
        <button type="button" class="btn btn-primary">History</button>
        <button type="button" class="btn btn-outline-secondary">Message</button>
    </div>
    
</div>
<h2 class="mb-5">Carer Activity Feed</h2>
  
<div class="media text-muted pt-3">
    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark"><small class="text-muted">5 min ago</small> @Brad Pitt</strong> - 
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    </p>
</div>
<div class="media text-muted pt-3">
    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark"><small class="text-muted">15 min ago</small> @Brad Pitt</strong>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    </p>
</div><div class="media text-muted pt-3">
    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark"><small class="text-muted">30 min ago</small> @Brad Pitt</strong>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    </p>
</div><div class="media text-muted pt-3">
    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark"><small class="text-muted">45 min ago</small> @Brad Pitt</strong>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    </p>
</div><div class="media text-muted pt-3">
    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark"><small class="text-muted">1 hr ago</small> @Brad Pitt</strong>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    </p>
</div><div class="media text-muted pt-3">
    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark"><small class="text-muted">1 hr ago</small> @Brad Pitt</strong>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    </p>
</div>
</div>
</div>
</body>
{% endblock %}